
<div class="main">
    <div class="leftside-container">
        <div class="left-top-content">
            <div class="left-top-head">

                <div class="top-head-content-left">
                    <h1 style="color: #7E8490;">Insurance Service</h1>
                    <p style="color: #B6B6B6;">This insurance is Valid Only for UAE Visa residence</p>
                </div>

                <div class="top-head-content-right">
                    <img class="logo" src="../assets/Images/insurance-logo.png">
                </div>
            </div>


            <div class="policy-container">
                <div class="leftcontent-policy-container">

                    <div class="content1-policy">
                        <p>SELECT POLICY TYPE</p>
                        <h2><b>Individual</b></h2>
                    </div>

                    <div class="content2-coverage">

                        <div class="vertical-line"></div>

                        <div>
                            <p class="coverage">COVERAGE TYPE</p>
                            <h2><b>Single Trip</b></h2>
                        </div>

                    </div>

                    <div class="content3-destination">

                        <div class="vertical-line"></div>

                        <div>
                            <p class="destination">DESTINATION COUNTRY</p>
                            <h2><b>UAE</b></h2>
                        </div>
                    </div>

                </div>

                <div class="right-content-datecontainer">
                    <h5 class="date"><i class="fa fa-calendar"></i>START DATE</h5>
                    <span class="date-span">11</span><span>APR'22</span>
                </div>
            </div>


            <div class="passenger-container">
                <div class="passenger-content">

                    <div class="checkbox"> <input class="senior-checkbox" type="checkbox" name="senior"
                            checked="checked"> <label style="font-weight: bold;" for="senior">Senior Citizen</label>
                    </div>
                    <p><span class="two-color">2</span><b>Passengers</b> <span class="caret"></span></p>

                </div>

                <div class="passenger-content">
                    <p> <b>Select Plan</b> <span class="caret"></span></p>
                    <p> <b>Period of coverage</b> <span class="caret"></span></p>
                </div>

            </div>

            <div class="horizontal-line">

            </div>

            <div class="passenger-checkbox-container">
                <div class="passenger-checkbox">

                    <div class="checkbox"> <input class="content-checkbox" type="checkbox" name="Hazzard"> <label
                            style="font-weight: bold;" for="Hazzard&Winter">Hazzards & Winter Sports</label></div>
                    <div class="checkbox"> <input class="content-checkbox" type="checkbox" name="Terrorism"> <label
                            style="font-weight: bold;" for="Terrorism">Terrorism</label></div>
                    <div class="checkbox"> <input class="content-checkbox" type="checkbox" name="Terrorism&Winter">
                        <label style="font-weight: bold;" for="Terrorism&Winter">Terrorism & Winter Sports</label></div>
                </div>

                <div class="passengers-btn">
                    <button class="quote-btn">Get a Quote</button>
                </div>

            </div>

            <div class="horizontal-line">

            </div>

            <div class="bottom-amount-content">
                <div class="bottom-amount-left">

                    <div class="amount">
                        <h6 style="color: #C5C0C1; font-weight: bold;">NET AMOUNT</h6>
                        <h4><b>AED 354</b> &nbsp; <span class="vat">(Inclusive of VAT)</span></h4>
                    </div>

                    <div style="align-self:center ;margin-left: 50px;">

                        <button class="plandetails-view-link"><span>VIEW PLAN DETAILS <i class="fa fa-external-link"
                                    style="color: #002E85 ;"> </i></span></button>
                    </div>
                </div>

                <div style="align-self:flex-end;">
                    <button class="bottom-right-continue-btn">Continue</button>
                </div>
            </div>

        </div>
    </div>
</div>
