

.main {
    height: 400px;
    width: 90%;
    display: flex;
}

.leftside-container {
    flex: 6 1; 
    display: flex;
    flex-direction: column;
    width: 100%;
}

.left-top-content {
    margin: 5px;
    width: 100% ;
    background-color: white;
    flex: 6 1; 
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

}

.left-top-head {
    display: flex;
    justify-content: space-between;
}

.policy-container {
    display: flex;
    justify-content: space-between;
}


.leftcontent-policy-container {
    display: flex;
    justify-content: space-between;
    width: 50%;
    border: 1px solid #e1e1e1da;
    border-radius: 3px;
    line-height: 30px;
    padding: 5px;
   
}

.row, .row1 {
    width:100%;
    align-items: flex-start;
    margin-left: -60px;
    display: flex;
}


.horizon-line {
    display: none;
}

li {
    padding: 5px 15px;
    position: relative;
    transition: all 0.5s ease-in 0.1s;
     width: 50%;
     overflow: hidden;
    
}

.to-content {
    margin-right: -5px;
}
.lab {
    font-size: 14px;
    font-weight: 400;
    color: #363636;
    text-transform: uppercase;
    display: block;
    white-space: nowrap;
    margin-bottom: 10px;
}

.destin {
    font-size: 14px;
    font-weight: 400;
    color: #363636;
    text-transform: uppercase;
    display: block;
    white-space: nowrap;
    margin-bottom: 10px;
}

h6 {
    font-size: 30px;
    font-weight: 900;
    margin: 0;
    color: black;
}

.from-content, .dest-content {
    margin-left: 15px;
}


.from-content, .to-content, .date, .dest-content {
    cursor: pointer;
}
.from-content:hover, .to-content:hover, .date:hover, .dest-content:hover {
    opacity: 0.7;
    transition: 0.5s;
    background: #f8fbe1;
   
}

.from-content::after, .dest-content::after {
    content: "";
    width: 1px;
    height: 97%;
    background: #c3c3c3;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}


.right-content-datecontainer {
    width: 50%;
    border: 1px solid #e1e1e1da;
    border-radius: 3px;
    line-height: 30px;
    padding: 5px;
    
}

.date {
    display: block;
    padding: 5px;
    margin-left: 0;
    margin-right: -11px; 
    color: #6E6E6E;

}

.date-span {
    font-size: 25px;
    font-weight: 700;
    color: black;

}
.date-month {
    font-size: 18px;
}

.fa-calendar {
    margin-top: 7px;
}

.passenger-details-cont {
    display: flex;
    flex-flow: row wrap;
    margin: 15px;
    column-gap: 20px;
    font-weight: 500;
    font-size: 18px;
    margin-top: 20px;
    align-items: center;
    height: 40px;
}
.checkbox-align {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}
.seniorbox {
    accent-color: #ADCD00;
}


.checkbox, .li:last-child {
    margin-right: 0;
}


.horizontal-line {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #E2E2E2;
}

.passenger-checkbox-container {
    display: flex;
    justify-content: space-between;
}

.checkbox {
    display: flex;
}

.content-checkbox {
    accent-color: #ADCD00;
    background-color: #E2E2E2;
    border-radius: 4px;
    margin-top: -12px;
}

.passenger-checkbox {
    display: flex;
    justify-content: space-between;
    width: 70%;
    font-size: 17px;
    font-weight: bold;
    color: #5C5C5C;
    margin-top: 20px;
}

.quote-btn {
    padding: 10px 20px;
    background-color: #FDCC00;
    font-size: 18px;
    font-weight: 400;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}


.menu-style {
    width: 20%;
}


@media only screen and (max-width: 1200px) {

    .right-content-datecontainer:last-child {
        min-width: auto;
    }

    h6 {
        font-size: 18px;
    }

    
}


@media only screen and (max-width: 1110px) {
    .leftcontent-policy-container>.row>li {
        padding: 5px 12px;
    }
    .right-content-datecontainer>.row1>li {
        padding: 5px 9px;
    }
    h6{
        font-size: 19px;
    }

    
}


@media only screen and (max-width: 992px) {
    .main {
        flex-direction: column;
    }

    .left-top-content>.policy-container>.leftcontent-policy-container {
        width: 100%;
    }
    .right-content-datecontainer {
        width: 100%;
    }

    .content1-policy {
        margin-left: 5px;
    }
    h6 {
        font-size: 18px;
    }

}


@media only screen and (max-width: 880px) {
    .policy-container {
        flex-direction: column;
        width: 100%;
    }

    .right-content-datecontainer {
        margin-left: 0;
        width: 100%;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
    }

    .leftcontent-policy-container {
        width: 80%;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
        box-sizing: border-box;
        border-bottom: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .date {
        margin-left: 8px;
    }
    .date>label, .date>h6 {
        margin-left: -10px;
        text-align: left;
    }

    .content1-policy {
        width: 50%;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .dest-content {
        margin-right: 15px;
        margin-left: 30px;
    }

    
    .passenger-details-cont {
        column-gap: 30px;
    }
    .checkbox-align {
        display: flex;
        align-items: center;
    }


    .passenger-checkbox-container {
        flex-direction: column;
    }

    .passenger-checkbox {
        width: 100%;
        justify-content: space-between;
    }

    .checkbox {
        display: flex;
        align-items: center;
    }

    .content-checkbox {
        align-items: center;
        margin-top: 4px;
    }

    .passengers-btn {
        align-self: flex-end;
    }

    li::after {
        height: 0;
        width: 100%;
        border-left: none;
        border-bottom: 1px solid gray;
    }
}


@media only screen and (max-width: 768px) {

    .leftside-container>.leftcontent-policy-container {
        flex-direction: column;

    }
     
    .policy-container {
        flex-direction: column !important;
    }

    .leftcontent-policy-container, .right-content-datecontainer {
       
        align-items: center;
    }

    .leftcontent-policy-container {
        width: 100%;
        margin-bottom: 0;
        border-bottom: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .right-content-datecontainer {
        width: 100%;
        margin-left: 0;
        margin-top: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .date{
        margin-left: 7px;
    }
    .date>label, .date>h6 {
        margin-left: -10px;
        text-align: left;
    }

    .passenger-details-cont {
        height: 55px;
    }
}


@media only screen and (max-width: 632px) {
    .passenger-checkbox {
        flex-direction: column;
    }
}

@media only screen and (max-width: 600px) {
    
    .leftcontent-policy-container {
        flex-direction: column;
        align-items: center;
    }

    .checkbox {
        width: 100%;
        gap: 10px;
    }

    .passenger-checkbox {
        flex-direction: column;
    }

    .passengers-btn {
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
    }
}


@media only screen and (max-width: 550px) {

    .policy-container {
        flex-direction: column;
    }

    .leftcontent-policy-container, .right-content-datecontainer {
        width: 100%;
    }

    .row, .row1 {
        flex-direction: column !important;
    }

    .dest-content {
        margin-left: 14px;
    }

    .row>.to-content {
        border-bottom: none;
    }
    li:last-child {
        border-bottom: 0;
    }
     li::after {
        display: none;
     }

     .content1-policy {
       margin: 0;
       margin-left: -10px;
       
     }

     .to-content {
        margin-left: 5px;
     }

     .from-content {
        margin-left: 15px;
        width: 99%;
     }
     
     .date {
        margin-left: 30px;
     }
    
     .horizon-line1 {
        display: block;
        width: 102%;
        margin-left: 5px;
        margin-right: 0;
        border: 1px solid #e2e2e2;
     }

     .horizon-line2 {
        display: block;
        width: 102%;
        margin-left: 13px;
        margin-right: 0;
        border: 1px solid #e2e2e2;
     }

     .row>.date {
        border-bottom: none;
     }

     .right-content-datecontainer>li {
        width: 100%;
        border-bottom: 1px solid #e2e2e2;
        margin-left: 10px;
        align-items: center;
     }
     .right-content-datecontainer>li:last-child {
        border-bottom: 0;
     }
     .right-content-datecontainer>li::after {
        display: none;
     }

     .passenger-details-cont {
        
        display: block;
        height: 120px;
     }
     
     .passenger-checkbox {
        flex-wrap: wrap;
     }
     
     .checkbox {
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        display: block;
     }
}