<div class="main">   

<div class="header">
    Header
</div>

<div class="container" >

    <div class="container1">
           
            <div class="leftside-container">

                  <div class="left-top-content">

                        <div class="left-top-head">
                  
                              <div class="top-head-content-left">
                                    <h1 style="color: #7E8490;">Insurance Service</h1>
                                    <p style="color: #B6B6B6;">This insurance is Valid Only for UAE Visa residence</p>
                              </div>
                  
                              <div class="top-head-content-right">
                                    <img class="logo" src="../assets/images/insurance-logo.png">
                              </div>

                        </div>
                  
                  
                        <div class="policy-container">

                              <div class="leftcontent-policy-container">

                                    <ul class="row">
                                          <li class="from-content" [matMenuTriggerFor]="menu">

                                                <div class="content1-policy">
                                                      <label class="lab">Select Policy type</label>
                                                      <h6>Individual</h6>
                                                </div>

                                                <mat-menu #menu="matMenu" class="menu-style">
                                                      <button mat-menu-item>Individual</button>
                                                      <button mat-menu-item>Family</button>
                                                </mat-menu>
                                          </li>

                                          <div class="horizon-line1"></div>

                                          <li class="to-content" [matMenuTriggerFor]="menucoverage">
                                                <label class="lab">Coverage Type</label>
                                                <h6>Single Trip</h6>
                                          </li>

                                          <mat-menu #menucoverage="matMenu">
                                                <button mat-menu-item>Single Trip</button>
                                                <button mat-menu-item>Annual Multi Trip</button>
                                          </mat-menu>
                  
                                    </ul>
                              </div>

                              <div class="right-content-datecontainer">

                                    <ul class="row1">

                                          <li class="dest-content">
                                                <label class="destin">Destination Country</label>
                                                <h6 class="destination">UAE</h6>
                                          </li>

                                          <div class="horizon-line2"></div>

                                          <li class="date">
                                                <label class="lab"><i class="fa fa-calendar"></i> Start Date &#9660; </label>
                                                <h6><span style="margin-left: 5px;" class="date-span"><b>11</b></span> <span class="date-month">APR'22</span></h6>
                                          </li>
                                    </ul>
                              </div>
                        </div>
                  
                        <div class="passenger-details-cont">

                              <div class="checkbox-align">
                                    <input class="seniorbox" type="checkbox" checked="checked"> <label for="snr">Senior Citizen </label>
                              </div>
                              <p><span>2</span>Passengers &#9660;</p>
                              <p>Select Plan &#9660;</p>
                              <p>Period of Coverage &#9660;</p>
                  
                        </div>
                  
                  
                        <div class="horizontal-line"> </div>
                  
                        <div class="passenger-checkbox-container">

                              <div class="passenger-checkbox">
                  
                                    <div class="checkbox"> <input class="content-checkbox" type="checkbox"> <label style="font-weight: bold; " for="Hazzard&Winter">Hazzards & Winter Sports</label> </div>
                  
                                    <div class="checkbox"> <input class="content-checkbox" type="checkbox"> <label style="font-weight: bold;" for="Terrorism">Terrorism</label> </div>
                  
                                    <div class="checkbox"> <input class="content-checkbox" type="checkbox"> <label style="font-weight: bold;" for="Terrorism&Winter">Terrorism & Winter Sports</label> </div>
                                          
                              </div>
                  
                              <div class="passengers-btn">
                                    <button class="quote-btn">Get a Quote</button>
                              </div>
                  
                        </div>

                        
                  
                  
                  </div>
            </div>
              

            <div class="offer-link">
                      <a  href="">more offers</a>
            </div>

            <div class="offer-img-container">
                      <img class="offer-img" src="../assets/images/offer-1.png">
                      <img class="offer-img" src="../assets/images/offer-2.png">
                      <img class="offer-img" src="../assets/images/offer-3.png">
            </div>
     </div>

    <div class="container2">

            <div>
                      <img class="above-side-nav" src="../assets/images/ae-background.png">
            </div>

            <div class="sidenav">

                    <a href="#noticeboard">
                          <img class="icon icon-1" src="../assets/images/notice-board.PNG" alt="">
                           Notice Board
                    </a> 

                    <a href="#recharge">
                          <img class="icon icon-2" src="../assets/images/Recharge.PNG" alt="">
                          Recharge
                    </a> 

                    <a href="#airlineupdate">
                          <img class="icon icon-3" src="../assets/images/airline-update.PNG" alt="">
                          Airline Update
                    </a> 

                    <a href="#gstinvoice">
                          <img class="icon icon-4" src="../assets/images/gstinvoice.PNG" alt="">
                          GST Invoice Format
                    </a>       
                
            </div>

    </div>
</div>

</div>

