/* You can add global styles to this file, and also import other style files */
* {
    margin: 2px;
}

body {
    font-family: sans-serif;
    background-color: #EDEDED;
    margin-left: 110px;
    margin-right: 110px;
    padding: 0;

}

@media only screen and (max-width: 1250px) {
    body {
        margin-left: 0;
        margin-right: 0;
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
